html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    color: #e0e0e0;
}

header {
    padding: 10px;
}

header .header-gotchas {
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px;
    border-top: slategray 1px solid;
    border-bottom: slategray 1px solid;
}

header #header-title {
    font-size: 1.5em;
}

header a, header a:visited {
    color: #e0e0e0;
    text-decoration: none;
}

#contentContainer {
    padding: 15px 60px;
}

@media only screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
    }
    #contentContainer {
        padding: 10px;
    }
}

#contentContainer a, #contentContainer a:visited {
    color: cadetblue;
}

:not(pre) > code {
    padding: 0px 3px;
    border: slategray 1px solid;
    border-radius: 5px;
    background-color: #151515;
}

pre {
    padding: 5px;
    border: slategray 1px solid;
    border-radius: 5px;
    background-color: #151515;
    overflow-x: auto;
}

table {
    border-spacing: 0;
    border-collapse: separate;
}

table tr th {
    padding: 2px;
    border-top: slategray 1px solid;
}

table tr:nth-child(2n) {
    background-color: #202020;
}

table td {
    border: slategray .25px solid;
    padding: 2px;
}
